/* ------ map
-----------------------------------------------*/

.lg-map-wrapper {
    position: relative;
    margin: 0 auto;
}
.lg-map-wrapper .lg-map {
    float: left;
    clear: both;
}
.lg-map-wrapper .lg-map-text {
    float: left;
    width: 500px;
    height: 380px;
    overflow: auto;
    padding: 10px 20px;
    clear: both;
}
.lg-map-wrapper .lg-map-text img {
    float: left;
    padding-right: 5px;
    padding-top: 2px;
}
.lg-map-wrapper .lg-map-text ul {
    margin-left: 30px;
}
.tooltip {
    position: fixed;
    display: none;
    padding: 10px 15px;
    background: #f2f2f2;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #262626;
    -moz-border-radius: 4px;
    /* FF1-3.6 */
    
    -webkit-border-radius: 4px;
    /* Saf3-4, iOS 1-3.2, Android <1.6 */
    
    border-radius: 4px 4px 4px 4px;
    /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    /* useful if you don't want a bg color from leaking outside the border: */
    
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.mouse-position {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 10px;
}
